* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    color: #ffffff;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* HEADER */
.site-header {
    background-color: #ffffff;
    color: #000000;
    margin-top: 20px;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    height: 70px;
}

.nav-links {
    display: flex;
    gap: 20px;
    font-size: 13px;
    font-weight: 600;
}

.nav-links li {
    cursor: default;
    transition: color 0.2s;
}


.nav-links li:hover {
    color: #0282f9;
}

.nav-links li.active {
    color: #0282f9;
    position: relative;
}

.nav-links li.active::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 4px;
}

/* MAIN */
.jumbotron {
    height: 300px;
    background-image: url("/img/jumbotron.jpg");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.jumbotron-title {
    text-align: center;
    font-size: 28px;
}

.blue-bar {
    background-color: #0282f9;
    padding: 30px 0;
}

.blue-bar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blue-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    text-transform: uppercase;
}

.icon-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER */
.site-footer {
    margin-top: 0;
    color: #ffffff;
    font-size: 12px;
}


.footer-top {
    background-image: url("/img/dc-logo-bg.png"), url("/img/footer-bg.jpg");
    background-position: right center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;

    padding: 40px 0 60px;
}


.footer-links {
    display: flex;
    gap: 40px;
}

.footer-column h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-column ul li {
    font-size: 12px;
    color: #c0c0c0;
    margin-bottom: 4px;
}

.footer-bottom {
    background-color: #303030;
    padding: 20px 0;
}

.footer-bottom-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sign-up-btn {
    background-color: transparent;
    border: 2px solid #0282f9;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}

.social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.social span {
    color: #0282f9;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}

.social img {
    width: 30px;
    height: 30px;
}

/*CARD*/

.comics-section {
    background-color: #1c1c1c;
    color: white;
    padding: 40px 0 60px;
}

.comics-header {
    margin-bottom: 20px;
}

.current-series-tag {
    display: inline-block;
    background-color: #0282f9;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


.comics-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.comic-card {
    font-size: 11px;
    text-transform: uppercase;
}

.thumb-wrapper {
    width: 100%;
    overflow: hidden;
    margin-bottom: 8px;
}

.thumb-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comic-title {
    margin-top: 5px;
    font-weight: 400;
}